{% extends 'base.html' %}
{% block title %}Заказы{% endblock %}
{% block content %}
<h1>Информация о товарах с сортировкой по времени</h1>
<h3>Товары за неделю</h3>
<ul>
    {% for order in week_orders %}
    <li>Заказ номер {{ order.id }}
        <ol>
            {% for product in order.product %}
            <li> {{ product.name }}</li>
            {% endfor %}
        </ol>
    </li>
    {% endfor %}
</ul>
<br>
<h3>Товары за месяц</h3>
<ul>
    {% for order in month_orders %}
    <li>Заказ номер {{ order.id }}
        <ol>
            {% for product in order.product %}
            <li> {{ product.name }}</li>
            {% endfor %}
        </ol>
    </li>
    {% endfor %}
</ul>
<br>
<h3>Товары за год</h3>
<ul>
    {% for order in year_orders %}
    <li>Заказ номер {{ order.id }}
        <ol>
            {% for product in order.product %}
            <li> {{ product.name }}</li>
            {% endfor %}
        </ol>
    </li>
    {% endfor %}
</ul>
<br>

{% endblock %}
